.idea
.ipynb*
.json
.vscode/
node_modules
ico-api/addresses.csv
simulation/*.csv
simulation/blchain_mainnet/
simulation/blchain_rinkeby/
__pycache__
build
venv
coverage/
coverage.json
package-lock.json
